body{
	font-family: Helvetica;
}

a{
	font-family: Courier;
	font-size: 11px;
	text-decoration: none;
}

a:hover{
	background: #d4cc67;
}

p{
	font-family: Optima;
	font-size: 16px;
	line-height: 23px;
	color: #404040;
}

h3{
	font-family: 'Patua One', cursive;
	font-size: 25px;
	/*border-left: 3px solid #696969;*/
}

.snippetItem {
	background: #e6e5d4;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.snippetList{
	width: 40%;
}

button .save{
	background: red;
}

/* mobile */

@charset "utf-8";
/* CSS Document */
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
 .fonts
 {
  font-size: 75%;
 }    
}
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
 .fonts
 {
  font-size: 120%;
 }  
}
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
 .fonts
 {
  font-size: 120%;
 }  
}
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
 .fonts
 {
  font-size: 120%;
 }    
}
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
 .fonts
 {
  font-size: 150%;
 }    
}
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

 .fonts
 {
  font-size: 120%;
 }  
}
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
 .fonts
 {
  font-size: 156%;
 }    
}
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
 .fonts
 {
  font-size: 200%;
 }    
}
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
 .fonts
 {
  font-size: 190%;
 }    
}